<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block links %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <style>
        .dark-mode {
            background: #403f3f;
            color: white;
        }

        .dropdown #dropdownMenu2{
            border: none;
        }
    </style>

    
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">NINJIACODER</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'rss' %}" rel="alternate">
                        <i class="fa fa-rss"></i>
                        RSS
                    </a>
                    {% comment %} <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> {% endcomment %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="dark-mode">dark-mode</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown open">
                        <button class="nav-link" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            分类
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    
    {% block body %}{% endblock %}
</body>
{% block script %}{% endblock %}
<script>
    $("#dark-mode").click(function() {
        $("body").addClass("dark-mode")
    })

    $.ajax({
        type: "GET",
        url: "/getCategory/",
        success: function(data) {
            data = JSON.parse(data)
            html = ""
            for (index in data) {
                html += '<button class="dropdown-item" type="button">' + data[index].fields.name + '</button>'
            }
            $(".dropdown-menu").append(html)
        }
    })
</script>
</html>

