{% extends 'base.html' %}
{% block title %}index{% endblock %}
{% block links %}
    {% load staticfiles %}
    <link href="{% static 'css_js/index.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css_js/pygments.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css_js/vue.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'css_js/index.js' %}"></script>
{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">NINJIACODER</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% for blog in all_blogs.object_list %}
            <div class="card" id="card-{{blog.id}}" onclick="location.href='{% url 'blog_id' blog.id %}'">
                <div class="container">
                    <h5 class="card-title" style="text-align:center">{{blog.title}}</h5>
                    <p class="card-text" style="text-align:center"># {{blog.category}}</p>
                    <p class="card-text">{{blog.content|safe}}</p>
                    <div style="text-align: center">
                        {% for tag in blog.tag.all %}
                        <span>{{tag}}</span>
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
        {% endfor %}
    </div> 
    
    <div class="container center-block">
        <nav aria-label="Page navigation example">
            <div class="center-block">
                <ul class="pagination">
                    {% if all_blogs.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?{{ all_blogs.previous_page_number.querystring }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="?{{ all_blogs.previous_page_number.querystring }}">Previous</a>
                        </li>
                    {% endif %}
                        
        
                    {% for page in all_blogs.pages %}
                        {% if page %}
                            {% ifequal page all_blogs.number %}
                                <li class="page-item active"><a class="page-link" href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% endifequal %}
                        {% endif %}
                    {% endfor %}
        
                    {% if all_blogs.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?{{ all_blogs.next_page_number.querystring }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link disabled" href="?{{ all_blogs.next_page_number.querystring }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            
        </nav>
    </div>
    

    
{% endblock %}

<style>
    #card-title {
        text-align: center;
    }
</style>