{% extends 'base.html' %}
{% block title %}index{% endblock %}
{% block links %}
    {% load staticfiles %}
    <link href="{% static 'css_js/index.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css_js/pygments.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css_js/vue.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'css_js/index.js' %}"></script>

    <style>
        #card-title {
            text-align: center;
        }

        .tag-area {
            color: #aaaaaa;
            padding-bottom: 1rem;
        }
    
        .tag {
            border: 1px solid;
            border-radius: 6px;
            padding: 6px;
            font-size: 10px;
            background: #aaaaaa;
            color: white;
        }

        .tag:hover {
            background: #8d8d8d;
        }

        #content {
            font-size: 14px !important;
        }

        #category-p {
            text-align: center;
            color: #15b886;
            
        }

        #category {
            text-align: center;
            padding: 0.5rem;
            border-radius: 4px;
        }

        #category:hover {
            background: #15b886;
            color: white;
        }

        img {
            width: 80%;
            margin-left: 10%;
        }

        #readmore {
            text-align: center;
        }
    </style>
{% endblock %}
{% block body %}
    
    <div class="container">
        {% for blog in all_blogs.object_list %}
            <div class="card" id="card-{{blog.id}}" >
                <div class="container" id="content">
                    <h1 class="card-title" style="text-align:center">{{blog.title}}</h1>
                    <p id="category-p"><span id="category"><i class="fas fa-sticky-note"></i> {{blog.category}}</span></p>
                    <p class="card-text"></p>{{blog.content|safe}}</p>
                    <p id="readmore" onclick="location.href='{% url 'blog_id' blog.id %}'">阅读更多</p>
                    <div class="tag-area">
                        <i class="fas fa-tags"></i>
                        {% for tag in blog.tag.all %}
                        <span class="tag" style="border: 1px solid; border-radius: 6px; padding: 6px; font-size: 10px; background: #aaaaaa; color: white">#{{tag}}</span>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
        {% endfor %}
    </div> 
    
    <div class="container center-block">
        <nav aria-label="Page navigation example">
            <div class="center-block">
                <ul class="pagination">
                    {% if all_blogs.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?{{ all_blogs.previous_page_number.querystring }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="?{{ all_blogs.previous_page_number.querystring }}">Previous</a>
                        </li>
                    {% endif %}
                        
        
                    {% for page in all_blogs.pages %}
                        {% if page %}
                            {% ifequal page all_blogs.number %}
                                <li class="page-item active"><a class="page-link" href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% endifequal %}
                        {% endif %}
                    {% endfor %}
        
                    {% if all_blogs.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?{{ all_blogs.next_page_number.querystring }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link disabled" href="?{{ all_blogs.next_page_number.querystring }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            
        </nav>
    </div>
    

    
{% endblock %}
